<div class="row">
  <div class="thumbnail profile_card center align-left">
    <img src="<%= profile.picture %>" class="left profile_pic">
		<div class="profile_heading">
			<h3 class="left no-margin"><%= profile.user.first_name %></h3>
			<h3 class="right no-margin"><%= profile.user.age %></h3>
		</div>
    <div class="caption profile_card_info ">
    	<p><%= profile.about_me %></p>
    </div>
	</div>
</div>