<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail profile_card">
      <img src="<%= profile.picture %>" class="left profile_pic">
      <div class="caption right align-left profile_card_info">
        <div class="profile_heading"><h3 class="inlineblock left"><%= profile.user.first_name %></h3>
        <p><%= profile.about_me %></p>
      </div>
    </div>
  </div>
</div>