<div class=”ui segment”>
  <h3 class="align-center">Gitlogs</h3>
  <div class=”ui list”>
    <div class=”item”>
      <div class="conversation-bar ">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <a href="<%= conversation_messages_path(conversation) %>">
            <div class="recipient grow">
              <div class="clipped inlineblock" style="background-image: url(<%=recipient.profile.picture.url(:thumb) %>);">
              </div>
              <div class="username align-center">
              <%= recipient.username %>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
