.input-group-addon {
	width: 7em;
}

form {
	margin: 1em auto;
/*	overflow: hidden;*/
	width: 19em;
}

/*.center {
	text-align: center;
	margin: 0 auto;
}*/

.submit {
  background-color: #fff;
}
.submit, .submit:hover {
	margin: 0.75em 0;
	width: 19em;
	background-color: #fff;
}

.submit:hover {
  background-color: lightgrey;
};