.recipient {
  width: 100%;
  height: 120px;
  background-color: #E0DAD1;
  text-align: center;
  padding: 5px;
  float: left;
  /*position: relative;*/
  top: -10px;
  border-bottom: 2px solid black;
}

.clipped {
  width: 70px;
  height: 70px;
  position: relative;
  top: 22px;
}

.resized-image{
  width: 5em;
}

.username {
  height: 20px;
  position: relative;
  top: 45px;
}

.conversation-bar {
  position: absolute;
  height: 100%;
  width: 220px;
  background-color: #F9F3E9;
  border-right: 3px solid black;
  padding-top: 50px;
  overflow: scroll;
  top: 0;
}
