.inlineblock {
	display: inline-block;
}

.content {
	margin: 5em 2em 2em 2em;
}

.heading {
	border-bottom: 1px solid grey;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.no-margin {
	margin: 0;
}