.inlineblock {
	display: inline-block;
}

.content {
/*	margin: 3em 0;*/
/*	margin: 4em 2em 2em 2em;*/
}

.heading {
	border-bottom: 1px solid grey;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-bottom {
	vertical-align: bottom;
}

.no-margin {
	margin: 0;
}

label {
	padding: 0;
}

.content {
	margin: 2em;
	margin-top: 4em;
}