.white-text {
	color: #fff;
}

.inlineblock {
	display: inline-block;
}

.content {
	margin: 3em 0;
}

.add-body-margin {
	margin: 5em 3em 0em 3em;
}

.heading {
	border-bottom: 1px solid grey;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-bottom {
	vertical-align: bottom;
}

.align-top {
	vertical-align: top;
}

.no-margin {
	margin: 0;
}

.push-down {
	margin-top: 7em;
}

.bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.border-radius {
	border-radius: 5em;
}

tr td:first-child, th {
	padding-left: 3em;
}

tr:last-child td {
	padding-bottom: 3em;
}

label {
	padding: 0;
}

.vert-middle {
	vertical-align: middle;
}

.full-width {
	width: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.inline {
	display: inline;
}

select {
	background-color: ghostwhite;
	border: 1px solid;
	border-color: silver;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: cadetblue;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

