body {
	margin: 0;
}

.logo {
	font-weight: 500;
	font-size: 2em;
}

.grey, .grey:hover {
	color: darkslategray;
}

.btn {
	margin-bottom: 0;
}

.dropdown-menu {
	left: -54px;
	margin: 0;
}

.navbar {
	background-color: #A8E6CE;
}

.navbar-nav {
  margin: -1px -17px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
   max-height: none;
}

.navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #97cfb9;
}

@media only screen and (max-width: 767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: honeydew;
	}
	
	ul.nav > li:hover {
		background-color: #E7E7E7;
	}
}

@media only screen and (min-width: 768px){
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: transparent;
	}
	
	ul.nav li:hover {
		background-color: #97cfb9;
	}
}