th {
  font-size: 2em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#profile-show {
  width: 40%;
}

#profile-aside {
  border-top: 5px solid #5F9EA0;
}

#user-info {
  width: 60%;
}

#age {
  font-weight: bold;
}

#about-me {
  display: inline;
}

#table-div {
  border-top: 5px solid #5F9EA0;
}


#block {
  border-top: 5px solid #5F9EA0;
}

.profile-pic-padding-bottom {
  padding-bottom: 2em;
}

.white-smoke-background-color {
  background-color: #fff;
}

.user-skills-margin-top {
  margin-right: .5em;
}

.user_skills_imgs {
  width: 100%;
}

.user-skills-header {
  margin-left: 1em;
  margin: 0;
}

.img-left {
  width: 6%;
}

.img-right {
  width: 90%;
}

.user-pills {
  border: 1px solid #000;
  background-color: azure;
  border-radius: .5em;
  padding: .25em 1em;
  margin-top: 1em;
}

.help {
  width: 93%;
  padding-left: 3em;
}

.help-image {
  width: 7%;
}
@media only screen and (min-width: 751px) {
  #user-info {
    float: right;
  }
}
@media only screen and (max-width: 750px) and (min-width: 476px){
  #profile-aside {
    display: inline-block;
  }
  .username-age {
    display: inline-block;
  }
  #profile-show {
    width: 75%;
    margin: 0 auto;
  }
  #user-info {
    display: block;
    clear: both;
  }
}

@media only screen and (max-width: 475px){
  #profile-show {
    width: 100%;
  }
}