h2 {
  font-weight: bold;
}

#main {
  background-image: url("dock_couple.jpg");
}

#main p {
  font-size: 50px;
}

#how-it-works-header {
  font-size: 4em;
  margin-bottom: 1em;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
}

#register {
  background-image: url("love_hands.jpg");
}

#register-link {
/*  margin: 0 auto;*/
}

#footer {
  background-color: #000;
  padding: 20px;
}

section {
  height: 90vh;
	width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
	-webkit-background-size: cover;
  background-size: cover;
  background-position-y: 50%;
}

#how-it-works {
  height: auto;
  padding: 3em;
}

@media only screen and (min-width: 600px) {
  .steps {
    width: 32%;
  }

  .steps:not(:last-child) {
    margin-right: 1%;
  }
}

@media only screen and (max-width: 874px) {
	section {
		width: 100%;
		height: 50vh;
		-webkit-background-size: cover;
	  background-size: cover;
	}

  #how-it-works {
    height:auto;
  }

	#register {
    background-position: 15%;
	}
}
