h2 {
  font-weight: bold;
}

.opaque-bg {
  background-color: #555;
  opacity: .7;
  width: 100%;
  z-index: 1;
  position: absolute;
}
.text-overlay {
  z-index: 100;
  opacity: 1;
}

#main {
  background-image: url("dock_couple.jpg");
}

#main p {
  font-size: 50px;
}

#how-it-works-header {
  font-size: 4em;
  margin-bottom: 1em;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
}

.step-info {
  width: 80%
}

.step-num {
  width: 20%;
}

#register {
  background-image: url("love_hands.jpg");
}

#footer {
  background-color: #000;
  padding: 20px;
}

.homepage-section {
  /*height: 90vh;*/
	width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
	-webkit-background-size: cover;
  background-size: cover;
  background-position-y: 50%;
}

@media only screen and (min-width: 600px) {
  .opaque-bg {
    height: 11em;
  }

  .steps {
    width: 32%;
  }

  .steps:not(:last-child) {
    margin-right: 1%;
  }

  #register {
    background-position: 36%
  }

  #how-it-works {
    height: 39em;
    padding: 10em 3em 5em 3em;
  }

  .homepage-section {
		height: 87vh;
	}
}

@media only screen and (max-width: 599px) {
  .opaque-bg {
    height: 10em;
  }

  .steps {
    width: 100%;
  }

  #main p {
    font-size: 2.5em;
  }

  #register {
    background-position: 36%
  }

  #how-it-works {
    height: auto;
    padding: 3em;
  }

  .homepage-section {
		height: 50vh;
	}
}
