<section id="main" class="white-text align-center">
  <div class="opaque-bg center"></div>
  <div class="text-overlay">
    <p class="">Meet new people.</p>
    <p class="">Find your soul mate.</p>
  </div>
</section>

<section id="how-it-works" class="full-width inlineblock">
  <h2 id="how-it-works-header" class="align-center no-margin">How it works?</h2>
  <div id="all-steps">
    <div class="steps inlineblock align-top">
      <div class="step-num align-center left"><span class="numberCircle inlineblock">1</span></div>
      <div class="step-info inlineblock right">
        <h2 class="inlineblock no-margin align-bottom">Register</h2>
        <p class="lead">Sign up for an account so you can recieve access to thousands of users.</p>
      </div>
    </div>

    <div class="steps inlineblock align-top">
      <div class="step-num align-center left"><span class="numberCircle inlineblock">2</span></div>
      <div class="step-info inlineblock right">
        <h2 class="inlineblock no-margin align-bottom">Browse</h2>
        <p class="lead">Search for people by programming language, skill set, text editors and more.</p>
      </div>
    </div>

    <div class="steps inlineblock align-top">
      <div class="step-num align-center left"><span class="numberCircle inlineblock">3</span></div>
      <div class="step-info inlineblock right">
        <h2 class="inlineblock no-margin align-bottom">Like</h2>
        <p class="lead">Bookmark your potential suitors</p>
      </div>
    </div>
  </div>
</section>

<section id="register" class="align-center white-text">
  <div class="opaque-bg center"></div>
    <div class="text-overlay">
      <h2>Ready to Find Your Match?</h2>
      <p>Click below to create your profile.</p>
      <%= link_to "register", new_account_path, class: "btn btn-default"%>
    </div>
  </div>
</section>

<footer class="navbar-default navbar-fixed-bottom align-center white-text" id="footer">
<p> &copy;Git Commited </p>
</footer>
